<section class="reset">
  <div class="container d-flex h-100">
    <div class="row">
      <div class="form">
        <form [formGroup]="reset" class="d-flex align-items-center h-100">
          <p-card>
            <ng-template pTemplate="header">
              <h6 class="text-center pt-4 head mb-4">PostmyBiz</h6>
            </ng-template>
            <ng-template pTemplate="body">
              <h6 class="mb-4">Reset your Account Password</h6>
              <p-password
                formControlName="password"
                [feedback]="false"
                placeholder="New Password"
              ></p-password>
              <p-password
                formControlName="confirmPassword"
                [feedback]="false"
                placeholder="Confirm New Password"
              ></p-password>
            </ng-template>
            <ng-template pTemplate="footer">
              <div class="submit text-center mb-4">
                <p-button [disabled]="reset.invalid" label="Login"></p-button>
              </div>
            </ng-template>
          </p-card>
        </form>
      </div>
    </div>
  </div>
</section>
