<section class="login">
  <div class="container d-flex h-100">
    <div class="row">
      <div class="form">
        <form [formGroup]="login" class="d-flex align-items-center h-100">
          <p-card>
            <ng-template pTemplate="header">
              <h6 class="text-center pt-4 head mb-4">PostmyBiz</h6>
            </ng-template>
            <ng-template pTemplate="body">
              <h6 class="mb-4">Login to your Account</h6>
              <input
                class="mb-4"
                type="text"
                placeholder="Email"
                pInputText
                formControlName="email"
              />
              <p-password
                formControlName="password"
                [feedback]="false"
                placeholder="Password"
              ></p-password>
            </ng-template>
            <ng-template pTemplate="footer">
              <div class="gohome mb-5 d-flex justify-content-end">
                <p routerLink="/forget" class="text-end mx-2 my-0">
                  Forgot your Password?
                </p>
              </div>
              <div class="submit text-center mb-4">
                <p-button [disabled]="login.invalid" label="Login"></p-button>
              </div>
              <div class="register d-flex justify-content-center">
                <p routerLink="/register" class="text-center">
                  Don’t have an account? Sign Up
                </p>
              </div>
            </ng-template>
          </p-card>
        </form>
      </div>
    </div>
  </div>
</section>
