<section class="postcard container d-flex flex-column gap-3 mb-3">
  @for (post of postingArray.slice(startIndex(), endIndex()); track post.id; let
  i = $index) {
  <ng-container>
    <div routerLink="/postdetails/{{ post.id }}/" class="d-flex">
      <div class="image">
        <img class="img-fluid" src="{{ post.images[0] }}" alt="image" />
      </div>
      <p-card class="flex-grow-1">
        <div class="row mb-lg-4 mb-2">
          <div class="col-lg-12">
            <div class="d-flex flex-column">
              <h5 class="text-dark fw-bold m-0">{{ post.title }}</h5>
              <span class="text-black-50">{{ post.postTime }}</span>
            </div>
          </div>
        </div>
        <div class="row mb-lg-3 mb-1">
          <div class="col-12">
            <div class="d-flex gap-lg-5 gap-2">
              <p
                class="m-0"
                [ngClass]="{ 'fw-bold': post.bold, 'fst-italic': post.italic }"
              >
                {{ post.content }}
              </p>
            </div>
          </div>
        </div>
      </p-card>
    </div>
  </ng-container>
  }@empty {
  <div class="spinner d-flex justify-content-center my-5 w-100">
    <app-spinner></app-spinner>
  </div>
  }
  <div class="mb-4">
    <p-paginator
      (onPageChange)="paginate($any($event))"
      [rows]="pageSize"
      [totalRecords]="postingArray.length"
    ></p-paginator>
  </div>
</section>
