main.navbar-mobile {
  background-color: #2c6deb;
  h6 {
    color: #ffffff;
  }
  i {
    color: #ffffff;
  }
  ul {
    li {
      cursor: pointer;
      color: #ffffff;
      width: fit-content;
    }
    .active {
      border-bottom: 2px solid #ffffff;
      font-weight: bold;
    }
  }
  .p-sidebar {
    background-color: #2c6deb;
    width: 65%;
    .p-sidebar-icon {
      color: #ffffff !important;
    }
    .p-sidebar-icon:hover {
      color: black !important;
    }
    .p-dropdown {
      width: 100%;
      border: none;
      border-radius: 0px;
      outline: none;
      background-color: #2c6deb;
      border-bottom: 1px solid black;
      .p-dropdown-label.p-placeholder {
        color: black;
        font-weight: bold;
      }
    }
    .p-inputnumber {
      width: 100%;
      border-bottom: 1px solid black;
    }
    .p-inputnumber-input {
      border: none;
      border-radius: 0px;
      outline: none;
      background-color: #2c6deb;
    }
    .p-inputtext {
      color: black;
    }
    .place::placeholder {
      color: black;
      font-weight: bold;
    }
    .p-inputnumber::placeholder {
      color: black;
    }
    .p-dropdown .p-dropdown-trigger {
      color: black;
    }
    .p-dropdown:not(.p-disabled).p-focus {
      box-shadow: none;
    }
    .p-inputtext:enabled:focus {
      box-shadow: none;
    }
    .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
      width: 100%;
      text-align: center;
    }
    label {
      color: #ffffff;
      font-weight: bold;
      padding: 0.75rem 0.75rem;
    }
    .p-button.p-button-raised {
      border: 1px solid white;
      border-radius: 0;
      padding: 15px 50px;
    }
  }
}
