<section class="listing mt-4">
  <div class="spas mb-4 mt-lg-0 mt-4">
    <div class="container">
      <div class="title mb-4">
        <h3>Top Spas in your Area</h3>
      </div>
      <div class="view d-flex justify-content-between">
        <div class="suggest">
          <h6 class="m-0">Suggested Results:</h6>
        </div>
        <div class="views d-flex gap-3">
          <div
            (click)="showGallery()"
            class="box d-flex gap-2"
            [ngClass]="galleyView ? 'active' : null"
          >
            <i class="bi bi-grid-3x3-gap-fill"></i>
            <p class="m-0 d-none d-lg-block">Gallery View</p>
          </div>
          <div
            (click)="showList()"
            class="box d-flex gap-2"
            [ngClass]="listView ? 'active' : null"
          >
            <i class="bi bi-list-columns-reverse"></i>
            <p class="m-0 d-none d-lg-block">List View</p>
          </div>
          <div
            (click)="showMap()"
            class="box d-flex gap-2"
            [ngClass]="mapView ? 'active' : null"
          >
            <i class="bi bi-map"></i>
            <p class="m-0 d-none d-lg-block">Map View</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  @if(galleyView){
  <div class="view-data">
    <app-gallery-view [listingArray]="listingArray"></app-gallery-view>
  </div>
  } @if(listView){
  <div class="view-data">
    <app-list-view [listingArray]="listingArray"></app-list-view>
  </div>
  } @if(mapView){
  <div class="view-data">
    <app-map-view [listingArray]="listingArray"></app-map-view>
  </div>
  }
</section>
