<section class="forget">
  <div class="container d-flex h-100">
    <div class="row">
      <div class="form">
        <form [formGroup]="forget" class="d-flex align-items-center h-100">
          <p-card>
            <ng-template pTemplate="header">
              <h6 class="text-center pt-4 head mb-4">PostmyBiz</h6>
            </ng-template>
            <ng-template pTemplate="body">
              <h6 class="mb-4">Reset your Account Password</h6>
              <input
                class="mb-4"
                type="text"
                placeholder="Email"
                pInputText
                formControlName="email"
              />
            </ng-template>
            <ng-template pTemplate="footer">
              <div class="submit text-center mb-4">
                <p-button [disabled]="forget.invalid" label="Verify"></p-button>
              </div>
            </ng-template>
          </p-card>
        </form>
      </div>
    </div>
  </div>
</section>
