<main class="navbar-mobile">
  <nav class="py-4">
    <div class="w-100 d-flex justify-content-around align-items-center">
      <div class="col-lg-4 col-md-4">
        <p-sidebar [(visible)]="leftSidebarVisible">
          <ng-template pTemplate="header">
            <i class="bi bi-search fs-3"></i>
          </ng-template>
          <ng-template pTemplate="content">
            <form>
              <div class="cat d-flex flex-column mb-3">
                <label>Category</label>
                <p-dropdown
                  placeholder="Select Category"
                  formControlName="cat"
                  optionLabel="name"
                ></p-dropdown>
              </div>
              <div class="state d-flex flex-column mb-3">
                <label>State</label>
                <p-dropdown
                  placeholder="Select State"
                  formControlName="state"
                  optionLabel="name"
                ></p-dropdown>
              </div>
              <div class="city d-flex flex-column mb-3">
                <label>City</label>
                <p-dropdown
                  placeholder="Select City"
                  formControlName="city"
                  optionLabel="name"
                ></p-dropdown>
              </div>
              <div class="zip d-flex flex-column mb-5">
                <label>Zip Code</label>
                <p-inputNumber
                  inputId="integeronly"
                  formControlName="zip"
                  placeholder="Postal Code"
                  inputStyleClass="place"
                ></p-inputNumber>
              </div>
              <div
                class="submit d-flex justify-content-center align-items-center"
              >
                <p-button
                  type="submit"
                  label="Search"
                  styleClass="p-button-raised"
                ></p-button>
              </div>
            </form>
          </ng-template>
        </p-sidebar>
        <div
          (click)="leftSidebarVisible = !leftSidebarVisible"
          class="search d-flex align-items-center"
        >
          <i class="bi bi-search fs-3+"></i>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <h6 class="text-center m-0">PostmyBiz</h6>
      </div>
      <div class="col-lg-4 col-md-4">
        <p-sidebar [(visible)]="rightSidebarVisible" position="right">
          <ng-template pTemplate="content">
            <ul class="d-flex flex-column align-items-center gap-4">
              <li
                routerLink="/home"
                routerLinkActive="active"
                class="text-nowrap text-center fs-5"
              >
                Home
              </li>
              <li
                routerLink="/listing"
                routerLinkActive="active"
                class="text-nowrap"
              >
                Listing
              </li>
              <li
                routerLink="/posting"
                routerLinkActive="active"
                class="text-nowrap text-center fs-5"
              >
                Posting
              </li>
              <li
                routerLink="/buysell"
                routerLinkActive="active"
                class="text-nowrap text-center fs-5"
              >
                Buy & Sell
              </li>
            </ul>
          </ng-template>
          <ng-template pTemplate="footer">
            <ul class="d-flex flex-column gap-3 align-items-center">
              <li routerLink="login">Login</li>
              <li routerLink="register">Signup</li>
            </ul>
          </ng-template>
        </p-sidebar>
        <div
          (click)="rightSidebarVisible = !rightSidebarVisible"
          class="d-flex align-items-center h-100 justify-content-end"
        >
          <i class="bi bi-list fs-2"></i>
        </div>
      </div>
    </div>
  </nav>
</main>
