<section class="home container">
  <div class="row py-4">
    <div
      class="col-lg-6 col-md-12 d-flex align-items-center justify-content-center"
    >
      <div class="row d-flex flex-column left">
        <div class="col-md-12">
          <h1>
            Find the best <span>Spa's</span>, <br /><span>Resturants</span> and
            <span>Salons</span><br />
            around you.
          </h1>
        </div>
        <div class="col-md-12">
          <form>
            <p-card>
              <div class="d-flex flex-column flex-lg-row gap-3 mb-5">
                <div class="box">
                  <div class="cat d-flex flex-column mb-2">
                    <label>Category</label>
                    <p-dropdown
                      placeholder="Select Category"
                      formControlName="cat"
                      optionLabel="name"
                    ></p-dropdown>
                  </div>
                </div>
                <div class="box">
                  <div class="state d-flex flex-column mb-2">
                    <label>State</label>
                    <p-dropdown
                      placeholder="Select State"
                      formControlName="state"
                      optionLabel="name"
                    ></p-dropdown>
                  </div>
                </div>
                <div class="box">
                  <div class="city d-flex flex-column mb-2">
                    <label>City</label>
                    <p-dropdown
                      placeholder="Select City"
                      formControlName="city"
                      optionLabel="name"
                    ></p-dropdown>
                  </div>
                </div>
              </div>
            </p-card>
            <div
              class="submit d-flex justify-content-lg-end justify-content-center"
            >
              <p-button
                label="Search"
                styleClass="p-button-outlined"
                type="submit"
              ></p-button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6 d-lg-flex d-none image">
      <!-- <video
        [autoplay]="true"
        [loop]="true"
        width="650"
        class="img-fluid"
        [muted]="true"
        src="../../assets/home/-d432-437e-8aaa-ad4dbfd48489.mp4"
        type="video/mp4"
      ></video> -->
    </div>
  </div>
</section>
<section class="spa">
  <div class="container">
    <div class="row py-5">
      <div class="title d-flex justify-content-between align-items-center mb-3">
        <h3>Top Spa’s</h3>
        <p-button label="View All" styleClass="p-button-raised"></p-button>
      </div>
      <div class="spa-card">
        <div class="card-1 mb-4">
          <app-home-card
            [title]="card1Title"
            [image]="card1Image"
            [phone]="card1Phone"
            [location]="card1Location"
            [paragraph]="card1paragraph"
          ></app-home-card>
        </div>
        <div class="card-2">
          <app-home-card
            [image]="card2Image"
            [phone]="card2Phone"
            [location]="card2Location"
            [paragraph]="card2paragraph"
            [title]="card2Title"
          ></app-home-card>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="resturant">
  <div class="container">
    <div class="row py-5">
      <div class="title d-flex justify-content-between align-items-center mb-3">
        <h3>Top Restaurants</h3>
        <p-button label="View All" styleClass="p-button-outlined"></p-button>
      </div>
      <div class="rest-card">
        <div class="card-1 mb-4">
          <app-home-card
            [title]="card3Title"
            [image]="card3Image"
            [phone]="card3Phone"
            [location]="card3Location"
            [paragraph]="card3paragraph"
            [orderClass]="card3Order"
          ></app-home-card>
        </div>
        <div class="card-2">
          <app-home-card
            [image]="card4Image"
            [phone]="card4Phone"
            [location]="card4Location"
            [paragraph]="card4paragraph"
            [title]="card4Title"
            [orderClass]="card4Order"
          ></app-home-card>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="salons">
  <div class="container">
    <div class="row py-5">
      <div class="title d-flex justify-content-between align-items-center mb-3">
        <h3>Top Salons</h3>
        <p-button label="View All" styleClass="p-button-raised"></p-button>
      </div>
      <div class="rest-card">
        <div class="card-1 mb-4">
          <app-home-card
            [title]="card5Title"
            [image]="card5Image"
            [phone]="card5Phone"
            [location]="card5Location"
            [paragraph]="card5paragraph"
          ></app-home-card>
        </div>
        <div class="card-2">
          <app-home-card
            [image]="card6Image"
            [phone]="card6Phone"
            [location]="card6Location"
            [paragraph]="card6paragraph"
            [title]="card6Title"
          ></app-home-card>
        </div>
      </div>
    </div>
  </div>
</section>
