<section class="posting-details">
  <div class="container py-5">
    @if (details) {
    <p-card>
      <div class="image d-flex gap-3 align-items-center mb-4">
        <img src="{{ details.business.logo }}" alt="" />
        <div class="details">
          <h6 class="m-0">{{ details.title }}</h6>
          <span class="text-black-50">{{ details.postTime }}</span>
        </div>
      </div>
      <div class="d-flex justify-content-center" *ngIf="isClient">
        <p-galleria
          [value]="images"
          [showItemNavigators]="true"
          [responsiveOptions]="responsiveOptions"
          [circular]="true"
          [numVisible]="5"
          [showThumbnailNavigators]="false"
        >
          <ng-template pTemplate="item" let-item>
            <img [src]="item" class="img-fluid" />
          </ng-template>
          <ng-template pTemplate="thumbnail" let-item>
            <div class="d-grid justify-content-center">
              <img
                [src]="item"
                class="img-fluid"
                style="display: block; height: 100px"
              />
            </div>
          </ng-template>
        </p-galleria>
      </div>
      <!-- <div class="images" *ngIf="details.images.length == 1">
          <p-image
            src="{{ details.images[0] }}"
            alt="Image"
            width="100%"
            [preview]="true"
          ></p-image>
        </div>
        <div class="images d-flex gap-3" *ngIf="details.images.length == 2">
          <ng-container *ngFor="let image of details.images">
            <p-image
              src="{{ image }}"
              alt="Image"
              width="100%"
              [preview]="true"
            ></p-image>
          </ng-container>
        </div>
        <div class="images d-flex gap-3" *ngIf="details.images.length == 3">
          <ng-container *ngFor="let image of details.images">
            <div class="">
              <p-image
                src="{{ image }}"
                alt="Image"
                width="100%"
                height="100%"
                [preview]="true"
              ></p-image>
            </div>
          </ng-container>
        </div>
        <div class="row">
          <div class="images" *ngIf="details.images.length > 3">
            <div class="more">
              <ng-container *ngFor="let image of details.images; let i = index">
                <div>
                  <p-image
                    src="{{ image }}"
                    alt="Image"
                    width="400px"
                    height="350px"
                    [preview]="true"
                  ></p-image>
                </div>
              </ng-container>
            </div>
          </div>
        </div> -->
      <div class="content mt-3">
        <p
          [ngClass]="{
            'fw-bold': details.bold,
            'fst-italic': details.italic
          }"
        >
          {{ details.content }}
        </p>
      </div>
    </p-card>
    }@else {
    <div
      class="spinner d-flex justify-content-center align-items-center my-5 w-100"
    >
      <app-spinner></app-spinner>
    </div>
    }
  </div>
</section>
