@for (list of listingArray.slice(startIndex(), endIndex()); track list.id; let i
= $index) {
<ng-container>
  <section class="list-card d-flex container mb-3">
    <div class="image position-relative">
      <img class="img-fluid" src="{{ list.logo }}" alt="image" />
      <div class="pic-icons d-flex gap-1 position-absolute">
        <div class="pic"><i class="bi bi-camera"></i> 5</div>
        <div class="video"><i class="bi bi-play-btn"></i> 1</div>
      </div>
    </div>
    <p-card class="flex-grow-1" routerLink="/details/{{ list.id }}/photos">
      <div class="row mb-lg-4 mb-2">
        <div class="col-lg-12">
          <div class="d-flex justify-content-between">
            <h5 class="text-dark fw-bold m-0">{{ list.name }}</h5>
            <i class="bi bi-hand-thumbs-up"></i>
          </div>
        </div>
      </div>
      <div class="row mb-lg-3 mb-1">
        <div class="col-lg-12">
          <div class="d-flex gap-lg-5 gap-2 justify-content-between">
            <div class="left flex-column flex-lg-row d-flex gap-1 gap-lg-3">
              <div class="phone d-flex align-items-center gap-lg-3 gap-1">
                <i class="bi bi-telephone"></i>
                <span class="text-nowrap">{{ list.phone_number }}</span>
              </div>
              <div class="location d-flex align-items-center gap-lg-3 gap-1">
                <i class="bi bi-geo-alt"></i>
                <span class="text-nowrap">{{ list.street }}</span>
              </div>
            </div>
            <div class="price">$40000</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="text">
          <p
            class="m-0"
            [ngClass]="{ 'show-full': expandedStates[i] }"
            (click)="toggleFullContent(i); $event.stopPropagation()"
          >
            {{ list.description }}
          </p>
        </div>
      </div>
    </p-card>
  </section>
</ng-container>
}@empty {
<div class="spinner d-flex justify-content-center my-5 w-100">
  <app-spinner></app-spinner>
</div>
}
<div class="mb-4">
  <p-paginator
    (onPageChange)="paginate($any($event))"
    [rows]="pageSize"
    [totalRecords]="listingArray.length"
  ></p-paginator>
</div>
