<main
  style="transition: 0.5s"
  class="main-wrapper"
  [style.opacity]="isServer ? 0 : 1"
>
  <nav class="d-none d-lg-block" *ngIf="shouldRender">
    <app-navbar></app-navbar>
  </nav>
  <nav class="d-block d-lg-none" *ngIf="shouldRender">
    <app-navbar-mobile></app-navbar-mobile>
  </nav>
  <section>
    <router-outlet></router-outlet>
  </section>
  <footer *ngIf="shouldRender">
    <app-footer></app-footer>
  </footer>
</main>
<p-toast
  [showTransformOptions]="'translateX(-100%)'"
  [showTransitionOptions]="'500ms'"
  [hideTransitionOptions]="'500ms'"
  [showTransformOptions]="'translateX(100%)'"
></p-toast>
