section.forget {
  height: 100vh;
  background: url("../../../../assets/contact/Rectangle\ 144.png") no-repeat
    center center;
  background-size: auto auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  form {
    .head {
      color: rgba(44, 109, 235, 1);
      font-weight: bold;
    }
    .p-card-body {
      width: 350px;
      padding: 1rem;
      .p-card-content {
        padding: 0.5rem;
        h6 {
          font-weight: bold;
        }
      }
      .p-inputtext {
        color: black;
        width: 100%;
        border: none;
        border-bottom: 1px solid black;
        border-radius: 0;
      }
      .p-inputtext:enabled:focus {
        box-shadow: none;
      }
      .p-inputtext::placeholder {
        color: black;
        font-weight: bold;
      }
      .p-button {
        width: 75%;
        border-radius: 6px;
      }
    }
    .p-card-footer {
      padding: 0;
    }
  }
}
