section.details {
  .p-card {
    .p-card-body {
      padding: 1rem;
      .p-card-content {
        padding: 0;
      }
      .desc {
        p {
          height: 50px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          cursor: pointer;
        }
        p.show-full {
          height: auto;
          white-space: normal;
        }
      }
    }
  }
  .title {
    i {
      color: rgba(44, 109, 235, 1);
    }
  }
  .info {
    i {
      color: rgba(44, 109, 235, 1);
    }
  }
  .booking {
    .call {
      .p-button {
        padding: 0.5rem 3.25rem;
      }
    }
    .book {
      .p-button {
        padding: 0.5rem 1.25rem;
      }
    }
  }
  .image {
    img {
      height: 264px;
    }
  }
  .text {
    textarea {
      height: 123px;
    }
    textarea::placeholder {
      color: rgba(217, 217, 217, 1);
    }
  }
  .reviews {
    p {
      color: rgba(44, 109, 235, 1);
    }
  }
  .name {
    i {
      color: rgba(44, 109, 235, 1);
    }
  }
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  border: solid #dee2e6;
  border-width: 0 0 2px 0;
  border-color: transparent transparent #dee2e6 transparent;
  background: #ffffff;
  color: #6c757d;
  padding: 1.25rem;
  font-weight: 700;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  transition: box-shadow 0.2s;
  margin: 0 0 -2px;
  text-decoration: none;
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  background: #ffffff;
  border-color: #3b82f6;
  color: #3b82f6;
}
//media queries
@media screen and (max-width: 576px) {
  section.details {
    .booking {
      .call {
        .p-button {
          padding: 0.5rem 1.75rem;
          white-space: nowrap;
        }
      }
      .book {
        .p-button {
          padding: 0.5rem 1.75rem;
          white-space: nowrap;
        }
      }
    }
  }
}
.postcard {
  .image {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
      0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    img {
      width: 250px;
      height: 200px;
    }
    .pic-icons {
      left: 6px;
      bottom: 8px;
      .pic {
        padding: 2px 8px;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(131, 131, 131, 0.36);
        i {
          color: rgba(255, 255, 255, 1);
        }
      }
      .video {
        padding: 2px 8px;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(131, 131, 131, 0.36);
        i {
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
  .p-card {
    height: 100%;
    border-radius: 0;
    .p-component {
      height: 100%;
    }
    .p-card-body {
      height: 100%;
      .p-card-content {
        padding: 0;
      }
    }
    .row {
      i {
        color: rgba(44, 109, 235, 1);
      }
      .phone {
        span {
          color: rgba(83, 84, 97, 1);
        }
      }
    }
  }
  .text {
    p {
      width: 250px;
      height: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
    }
    p.show-full {
      height: auto;
      white-space: normal;
    }
  }
}
//media queries
@media screen and (max-width: 768px) {
  .list-card {
    .p-card .p-card-body {
      padding: 10px;
    }
    p {
      font-size: 12px;
    }
    h5 {
      font-size: 14px;
    }
    span {
      font-size: 14px;
    }
    i {
      font-size: 14px;
    }
    img {
      width: 380px;
      height: 100% !important;
    }
  }
}
