<section class="map">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12">
        <div class="map-img d-flex justify-content-center">
          <img
            class="img-fluid flex-grow-1"
            src="../../../../assets/listing/Rectangle 37.png"
            alt="map"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="card-container d-flex flex-wrap justify-content-center justify-content-xl-start gap-4 mb-4"
      >
        @for (post of postingArray.slice(startIndex(), endIndex()); track
        post.id; let i = $index) {
        <ng-container>
          <div
            routerLink="/postdetails/{{ post.id }}/"
            class="d-flex postcard w-100"
          >
            <div class="image">
              <img class="img-fluid" src="{{ post.images[0] }}" alt="image" />
            </div>
            <p-card class="flex-grow-1">
              <div class="row mb-lg-4 mb-2">
                <div class="col-lg-12">
                  <div class="d-flex flex-column">
                    <h5 class="text-dark fw-bold m-0">{{ post.title }}</h5>
                    <span class="text-black-50">{{ post.postTime }}</span>
                  </div>
                </div>
              </div>
              <div class="row mb-lg-3 mb-1">
                <div class="col-12">
                  <div class="d-flex gap-lg-5 gap-2">
                    <p
                      class="m-0"
                      [ngClass]="{
                        'fw-bold': post.bold,
                        'fst-italic': post.italic
                      }"
                    >
                      {{ post.content }}
                    </p>
                  </div>
                </div>
              </div>
            </p-card>
          </div>
        </ng-container>
        }@empty {
        <app-spinner></app-spinner>
        }
      </div>
      <div class="mb-4">
        <p-paginator
          (onPageChange)="paginate($any($event))"
          [rows]="pageSize"
          [totalRecords]="postingArray.length"
        ></p-paginator>
      </div>
    </div>
  </div>
</section>
