<section class="map">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12">
        <div class="map-img d-flex justify-content-center">
          <img
            class="img-fluid flex-grow-1"
            src="../../../../assets/listing/Rectangle 37.png"
            alt="map"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="card-container d-flex flex-wrap justify-content-center justify-content-xl-start gap-4 mb-4"
      >
        @for (list of listingArray.slice(startIndex(), endIndex()); track
        list.id; let i = $index) {
        <ng-container>
          <p-card routerLink="/details/{{ list.id }}/photos">
            <ng-template pTemplate="header">
              <div class="image p-2 position-relative">
                <img class="img-fluid" alt="Card" src="{{ list.logo }}" />
                <div class="pic-icons d-flex gap-2 position-absolute">
                  <div class="pic"><i class="bi bi-camera"></i> 5</div>
                  <div class="video"><i class="bi bi-play-btn"></i> 1</div>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="body">
              <div
                class="title d-flex justify-content-between align-items-center mb-3"
              >
                <p class="m-0 fw-bold">{{ list.name }}</p>
                <i class="bi bi-hand-thumbs-up"></i>
              </div>
              <div class="info d-flex justify-content-between mb-4">
                <div class="adress d-flex flex-column">
                  <div class="phone d-flex gap-2">
                    <i class="bi bi-telephone"></i>
                    <span>{{ list.phone_number }}</span>
                  </div>
                  <div class="loc d-flex gap-2">
                    <i class="bi bi-geo-alt"></i>
                    <span>{{ list.street }}</span>
                  </div>
                </div>
                <div class="price d-flex gap-2">
                  <span>$40000</span>
                </div>
              </div>
              <div class="text">
                <p
                  class="m-0"
                  [ngClass]="{ 'show-full': expandedStates[i] }"
                  (click)="toggleFullContent(i); $event.stopPropagation()"
                >
                  {{ list.description }}
                </p>
              </div>
            </ng-template>
          </p-card>
        </ng-container>
        }@empty {
        <div class="spinner d-flex justify-content-center my-5 w-100">
          <app-spinner></app-spinner>
        </div>
        }
      </div>
      <div class="mb-4">
        <p-paginator
          (onPageChange)="paginate($any($event))"
          [rows]="pageSize"
          [totalRecords]="listingArray.length"
        ></p-paginator>
      </div>
    </div>
  </div>
</section>
