section.home {
  .row {
    h1 {
      color: #3d3d3e;
      font-size: 50px;
      font-weight: 500;
      font-family: "Kumbh Sans";
      span {
        color: #2c6deb;
      }
    }
  }
  .left {
    gap: 20px;
  }
  .p-tabmenu .p-tabmenu-nav {
    border: none;
    width: fit-content;
    margin-bottom: 5px;
  }
  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    color: rgba(16, 0, 0, 0.43);
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 25px;
  }
  .p-tabmenu
    .p-tabmenu-nav
    .p-tabmenuitem
    .p-menuitem-link:not(.p-disabled):focus {
    box-shadow: none;
    color: #2c6deb;
    border-bottom: 2px solid #2c6deb;
  }
  .p-dropdown .p-dropdown-trigger {
    width: 1rem;
  }
  .p-dropdown {
    width: 100%;
    border: none;
    border-radius: 0px;
    outline: none;
    border-bottom: 1px solid black;
    .p-dropdown-label.p-placeholder {
      color: black;
      font-weight: bold;
      font-size: 14px;
    }
  }
  .p-inputnumber {
    width: 60%;
    border-bottom: 1px solid black;
  }
  .p-inputnumber-input {
    border: none;
    border-radius: 0px;
    outline: none;
    font-size: 14px;
  }
  .p-inputtext {
    color: black;
    font-size: 14px;
  }
  .place::placeholder {
    color: black;
    font-weight: bold;
  }
  .p-dropdown .p-dropdown-trigger {
    color: black;
  }
  .p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none;
  }
  .p-inputtext:enabled:focus {
    box-shadow: none;
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    width: 100%;
    text-align: center;
  }
  label {
    color: rgba(112, 112, 117, 1);
    font-weight: bold;
    padding: 0.75rem 0.75rem;
    font-size: 12px;
  }
  .p-card {
    border-radius: 0px;
  }
  .p-card-body {
    padding: 0px 10px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  }
  .p-card-content {
    padding: 0px;
  }
}
section.spa {
  background: linear-gradient(
    100.85deg,
    #dbeff8 7.03%,
    rgba(32, 129, 195, 0) 97.68%
  );
  .p-button.p-button-raised {
    border-radius: 0;
  }
  img {
    height: 100%;
  }
}
section.resturant {
  .p-button.p-button-outlined {
    border-radius: 0;
  }
  img {
    height: 100%;
  }
}
section.salons {
  background: linear-gradient(
    100.85deg,
    #dbeff8 7.03%,
    rgba(32, 129, 195, 0) 97.68%
  );
  .p-button.p-button-raised {
    border-radius: 0;
  }
  img {
    height: 100%;
  }
}
// media queries

@media screen and (max-width: 992px) {
  section.home {
    .row {
      h1 {
        font-size: 30px;
      }
    }
    .p-tabmenu-nav-content {
      display: flex;
      justify-content: center;
      .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
        margin: 0px 15px;
      }
    }
    p-dropdown {
      width: 60%;
    }
    .box > div {
      align-items: center;
    }
    label {
      align-self: baseline;
      margin-left: 45px;
      font-size: 14px;
    }
    .p-card-body {
      padding-bottom: 1px;
      margin-bottom: 15px;
    }
  }
}
