section.footer {
  color: #ffffff;
  background-color: rgba(34, 34, 34, 1);
  .icons {
    gap: 100px;
    i {
      color: rgba(44, 109, 235, 1);
      cursor: pointer;
    }
  }
  p {
    cursor: pointer;
  }
}
